.btn {
  cursor: pointer;
  border-radius: 8px;
  border: none;
  font-size: var(--size-md);
  padding: var(--space-2) var(--space-3);
}

.btn:disabled {
  cursor: auto;
  background-color: var(--color-gray);
  color: var(--color-dark-gray);
}

.btnPrimary {
  background-color: var(--color-sky-500);
  color: var(--color-white);
}

.btnPrimary:hover:not(:disabled) {
  background-color: var(--color-sky-600);
}

.btnSecondary {
  background-color: var(--color-white);
  color: var(--color-sky-500);
}

.btnSecondary:hover:not(:disabled) {
  background-color: var(--color-sky-50);
}
